*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

button:focus {
  outline: none !important;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #78bf00;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

@mixin mq($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

.main {
  &-container {
    padding-top: 50px;
    overflow-x: hidden;
    @include mq(600px)
    {
      padding-top: 82px ;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
   
  }

  &-logo {
    width: 190px;
    height: 36px;
  }

  &-texts {
    padding: 24px 0 32px 0;

    @include mq(600px)
    {
        padding: 30px 0 24px 0;
    }
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      padding-bottom: 12px;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.33);
      text-transform: uppercase;

      @include mq(600px)
      {
        padding-bottom: 0px;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.33);
      max-width: 286px;
      text-transform: uppercase;

      @include mq(600px)
      {
        max-width: max-content;
      }
    }
  }
}

.counter {
  text-align: center;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: #287400;
      padding-bottom: 9px;
    }

    &_labels {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding-bottom: 16px;

      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #ffffff;
        background: #287400;
        width: 48px;
        height: 44px;
        border-radius: 6px;

        &-number {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
        }

        &-text {
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.main-button {
  background: none;
  border: none;
  position: relative;
  background-image: url("assets/button.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 168px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-image {
  transform: scale(2);
  z-index: -1;
  margin-top: -50px;
  

  @include mq(600px)
  {
    transform: scale(1.7);
    margin-top: -130px;
  
  }

  @include mq(1024px)
  {
    transform: scale(1.2);
    margin-top: -235px;
    
  }

  @include mq(1560px)
  {
    max-width: 1500px;
  }
}
.steps {
  margin-top: 100px;
  text-align: center;

  @include mq(600px)
  {
    margin-top: 80px;
  }

  @include mq(1024px)
  {
    margin-top: 30px;
  }

  &-title
  {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;

    @include mq(600px)
    {
        font-size: 24px;
        line-height: 32px;
    }
  }
  
  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0 56px 0;
    position: relative;

    @include mq(600px)
    {
        flex-direction: row;
        gap:40px;
        padding: 16px 0 40px 0;

    }

    &::before
    {
        content: '';
        display: block;
        position: absolute;
        background-image: url('assets/vector_lambo_BG.svg');
        background-size: 100% 100%;
        width: 100%;
        min-height: 100%;
        transform: scale(2);
        top:20px;
        left:105px;
        z-index: -1;

        @include mq(600px)
        {
          top:170px;
          transform: scale(4.5);
        }
    }
  }
}

.step {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 67px;
  padding-right: 67px;
  gap: 18px;

  @include mq(600px)
  {
    padding-inline:0;
    gap:12px;
   
  }

  h2 {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    max-width: 190px;

    @include mq(600px)
    {
      font-size:13px;
      line-height: 17px;
      max-width: 140px;
    }
  }

  img {
    width: 23px;
    height: 32px;
    margin-top: 4px;

    @include mq(600px)
    {
      width: 32px;
      height: 45px;
      margin-top: 0;
    }
  }
}

.bottom-gallery
{
    text-align: center;
    h2
    {
        font-weight: 700;
        font-size: 20px;
        line-height:28px;
        text-transform: uppercase;

        @include mq(600px)
        {
          font-size: 24px;
          line-height: 32px;
        }
    }
}

footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
  

  a 
  {
    margin-right: 10px;
  }
}